oauth2-jersey/.settings/.jsdtscope
oauth2-jersey/.settings/org.eclipse.jdt.core.prefs
oauth2-jersey/.settings/org.eclipse.m2e.core.prefs
oauth2-jersey/.settings/org.eclipse.wst.common.component
oauth2-jersey/.settings/org.eclipse.wst.common.project.facet.core.xml
oauth2-jersey/.settings/org.eclipse.wst.jsdt.ui.superType.container
oauth2-jersey/.settings/org.eclipse.wst.jsdt.ui.superType.name
oauth2-jersey/.settings/org.eclipse.wst.validation.prefs
